# Big Data w biznesie

## Drugi notebook zadania

In [2]:
from IPython.core.display import HTML

def _set_css_style(css_file_path):
   """
   Read the custom CSS file and load it into Jupyter.
   Pass the file path to the CSS file.
   """

   styles = open(css_file_path, "r").read()
   s = '<style>%s</style>' % styles
   return HTML(s)
_set_css_style("/Users/kasia/Desktop/programowanie/big-data/cw_2/custom.css")

#### Zaimportuj biblioteki numpy i pandas.

In [3]:
import numpy as np
import pandas as pd

#### Za≈Çaduj plik csv.
***
Do zmiennej `df` za≈Çaduj plik `cars.csv`.

In [4]:
file = '/Users/kasia/Desktop/programowanie/big-data/cw_1/cars.csv'

In [5]:
df = pd.read_csv(file)

#### Wy≈õwietl pierwsze 5 linijek obiektu ''df''.

In [6]:
df.head(5)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

#### Sprawd≈∫, kt√≥re kolumny zamieniƒá na typ 'category'.
***
Kolumny, w kt√≥rych warto≈õci przyjmujƒÖ tylko kilka r√≥≈ºnych parametr√≥w, warto zamieniƒá typ na 'category'.

In [7]:
df.dtypes

manufacturer_name     object
model_name            object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_has_gas          bool
engine_type           object
engine_capacity      float64
body_type             object
has_warranty            bool
state                 object
drivetrain            object
price_usd            float64
is_exchangeable         bool
location_region       object
number_of_photos       int64
up_counter             int64
feature_0               bool
feature_1               bool
feature_2               bool
feature_3               bool
feature_4               bool
feature_5               bool
feature_6               bool
feature_7               bool
feature_8               bool
feature_9               bool
duration_listed        int64
dtype: object

#### Napisz funkcjƒô, kt√≥ra nadaje kolumnom typ 'category'.
***
Funkcja jako argumenty bƒôdzie przyjmowaƒá obiekt Dataframe oraz listƒô z nazwami kolumn, kt√≥rym chcieliby≈õmy zmieniƒá typ na `category`.

In [8]:
list_of_columns = ['transmission', 'color', 'engine_fuel', 'engine_type', 'body_type', 'state', 'drivetrain', 'location_region']

In [9]:
def proper_columns_types(df, list_of_columns):
    for i in list_of_columns:
        df[i] = df[i].astype('category')
    return df

In [10]:
df = proper_columns_types(df, list_of_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  category
 3   color              38531 non-null  category
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  category
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  category
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  category
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  category
 13  drivetrain         38531 non-null  category
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  category
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), category(8), float64(2), int64(5), object(2)
memory usage: 3.4+ MB

#### Wczytaj plik i od razu nadaj odpowiednim kolumnom typ 'category'.

In [11]:
dtype_dictionary = dict.fromkeys(list_of_columns, 'category')

print(dtype_dictionary)

{'transmission': 'category', 'color': 'category', 'engine_fuel': 'category', 'engine_type': 'category', 'body_type': 'category', 'state': 'category', 'drivetrain': 'category', 'location_region': 'category'}

In [12]:
df = pd.read_csv(file, dtype = dtype_dictionary)

#### Napisz funkcjƒô, kt√≥ra printuje brakujƒÖce dane.
***
Funkcja ta jak argument ma przyjmowaƒá obiekt typu Dataframe i printowaƒá na ekran liczbƒô brakujƒÖcych warto≈õci dla ka≈ºdej kolumny w podanym DataFrame.

In [13]:
def print_missing(df):
    print(df.isna().sum())

In [14]:
print_missing(df)

manufacturer_name     0
model_name            0
transmission          0
color                 0
odometer_value        0
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           0
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             0
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed       0
dtype: int64

#### Napisz funkcjƒô, kt√≥ra zamienia losowe dane na 'np.nan'.
***
W zwiƒÖzku z tym, ≈ºe chcemy nauczyƒá siƒô pracowaƒá z brakujƒÖcymi danymi, najpierw musimy takie stworzyƒá.

Nasza funkcja jako argumenty bƒôdzie przyjmowaƒá obiekt Dataframe oraz s≈Çownik. Kluczem w s≈Çowniku bƒôdƒÖ nazwy kolumn, a warto≈õciami bƒôdƒÖ liczby b≈Çƒôd√≥w, kt√≥re chcemy wprowadziƒá (`{'odometer_value': 7}` oznacza, ≈ºe w kolumnie `'odometer_value'` chcemy zamieniƒá 7 losowych wierszy na typ `'np.nan'`)

Podpowied≈∫:

W ten spos√≥b mo≈ºemy zmieniƒá warto≈õƒá na ` 'value'` w losowym wierszu w kolumnie `'column'`.

`df.loc[df.sample().index, column] = 'value'`

In [15]:
error_dict = {'odometer_value': 7, 'duration_listed': 10, 'color': 6, 'engine_type': 2, 'price_usd': 4}

In [16]:
def introduce_nan(df, error_dict):
    for key, value in error_dict.items():
        df.loc[df.sample(value).index, key] = np.nan
    return df

#### Wprowad≈∫ b≈Çƒôdy do danych.
***
U≈ºyj napisanej powy≈ºej funkcji do wprowadzenia brakujƒÖcych warto≈õci do obiektu `'df_err'`.

Sprawd≈∫, czy uda≈Ço Ci siƒô wprowadziƒá te b≈Çƒôdy za pomocƒÖ funkcji do printowania brakujƒÖcych warto≈õci.

In [17]:
df_error = df.copy()

In [18]:
df_error = introduce_nan(df_error, error_dict)
print_missing(df_error)

manufacturer_name     0
model_name            0
transmission          0
color                 6
odometer_value        7
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           2
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             4
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed      10
dtype: int64

#### Zamie≈Ñ dane typu 'np.nan' na dane liczbowe.
***
W kolumnach `'odometer_value'` i `'duration_listed'` zamie≈Ñ brakujƒÖce warto≈õci na ≈õredniƒÖ warto≈õƒá ca≈Çej kolumny.

W kolumnach `'color':` i `'engine_type'`: zamie≈Ñ brakujƒÖce warto≈õci na najczƒô≈õciej wystƒôpujƒÖcy element w ca≈Çej kolumnie.

W kolumnie `'price_usd'` usu≈Ñ brakujƒÖce warto≈õci z naszego obiektu Dataframe.

In [19]:
df_err = df_error.copy()

In [20]:
avg_odometer_value = df_err['odometer_value'].astype("float").mean(axis=0)
df_err["odometer_value"] = df_err["odometer_value"].replace(np.nan, avg_odometer_value)

In [21]:
avg_duration_listed = df_err['duration_listed'].astype("float").mean(axis=0)
df_err["duration_listed"] = df_err["duration_listed"].replace(np.nan, avg_duration_listed)

In [22]:
max_color = df_err['color'].mode().item()
df_err['color'] = df_err['color'].fillna(max_color)

In [23]:
max_engine_type = df_err['engine_type'].mode().item()
df_err['engine_type'] = df_err['engine_type'].fillna(max_engine_type)

In [24]:
df = df.dropna(subset=['price_usd'], axis=0)
df = df.reset_index(drop=True)

#### Napisz funkcjƒô, kt√≥ra zamienia dane typu 'np.nan' na dane liczbowe.
***
Nasza funkcja jako argumenty bƒôdzie przyjmowaƒá obiekt Dataframe oraz s≈Çownik. Kluczem w s≈Çowniku bƒôdƒÖ nazwy kolumn, a warto≈õciami bƒôdƒÖ warto≈õci `'average'`,`'max'` albo `'drop'` (w zale≈ºno≈õci co chcemy zrobiƒá z brakujƒÖcymi danymi).

In [25]:
replace_dict = {'odometer_value': 'average', 'duration_listed': 'average', 'color': 'max', 'engine_type': 'max', 'price_usd': 'drop'}

In [26]:
def replace_column(df, replace_dict):
    for key, value in replace_dict.items():
        if value == 'average':
            avg = df[key].astype("float").mean(axis=0)
            df[key] = df[key].replace(np.nan, avg)
        elif value == 'max':
            max_col = df[key].mode().item()
            df[key] = df[key].fillna(max_col)
        elif value == 'drop':
            df = df.dropna(subset=[key], axis=0)
            df = df.reset_index(drop=True)
    return df

#### Usu≈Ñ b≈Çƒôdy z danych.
***
U≈ºyj napisanej powy≈ºej funkcji do zastƒÖpienia lub usuniƒôcia brakujƒÖcych warto≈õci z obiektu `'df_err'`.

Sprawd≈∫, czy uda≈Ço Ci siƒô to zrobiƒá za pomocƒÖ funkcji do printowania brakujƒÖcych warto≈õci.

In [27]:
df_err = replace_column(df_err, replace_dict)
print_missing(df_err)

manufacturer_name     0
model_name            0
transmission          0
color                 0
odometer_value        0
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           0
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             0
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed       0
dtype: int64

#### Napisz zapytanie.
***
Znajd≈∫ wszystkie samochody marki Mercedes-Benz wyprodukowane po 2010 roku.

In [28]:
manufacturer = 'Mercedes-Benz'
year = 2010
df.query('year_produced > @year and manufacturer_name == @manufacturer')# and engine_capacity > @min_capacity')

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
33976,Mercedes-Benz,GL350,automatic,black,287000,2011,diesel,False,diesel,3.0,...,False,True,True,True,True,True,True,True,True,102
33978,Mercedes-Benz,Viano,automatic,black,284000,2012,gasoline,False,gasoline,3.5,...,False,False,False,False,False,False,False,False,False,13
33990,Mercedes-Benz,CLA220,automatic,white,42000,2013,gasoline,False,gasoline,1.6,...,False,True,True,False,True,True,True,True,True,1
33995,Mercedes-Benz,E200,mechanical,grey,148700,2015,diesel,False,diesel,2.2,...,True,True,True,True,True,True,True,True,True,12
34012,Mercedes-Benz,Sprinter,mechanical,white,181500,2016,diesel,False,diesel,2.2,...,True,False,False,False,False,True,True,False,False,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36158,Mercedes-Benz,GLK220,automatic,black,240000,2012,diesel,False,diesel,2.2,...,True,False,True,True,True,False,True,True,True,206
36162,Mercedes-Benz,ML350,automatic,black,190000,2011,diesel,False,diesel,3.0,...,True,False,True,True,True,True,True,True,True,211
36180,Mercedes-Benz,E63 AMG,automatic,white,60000,2013,gasoline,False,gasoline,5.5,...,True,True,True,True,True,True,True,True,True,252
36196,Mercedes-Benz,CLA200,automatic,white,179000,2013,gasoline,False,gasoline,1.6,...,True,True,True,True,True,True,True,True,True,80
36205,Mercedes-Benz,E200,automatic,black,95000,2012,gasoline,False,gasoline,1.8,...,True,True,True,True,True,True,True,True,True,81

#### Policz rok produkcji podniesiony do kwadratu.
***
W obiekcie `'df_sec'` stw√≥rz nowe kolumny `'year_produced_squared_1'` i `'year_produced_squared_2'` w kt√≥rych znajdzie siƒô rok produkcji podniesiony do kwadratu.

Zr√≥b to na dwa sposoby:
- dzia≈Çanie bezpo≈õrednio na kolumnie
- dzia≈Çanie przy pomocy funkcji `.apply(lambda x: x)`

In [59]:
df_sec = df.copy()

In [60]:
df_sec['year_produced_squared_1'] = df_sec['year_produced'] ** 2

In [61]:
df_sec['year_produced_squared_2'] = df['year_produced'].apply(lambda x: x**2)
#df_sec['year_produced'] ** 2

#### Oce≈Ñ czy samoch√≥d mo≈ºna uznaƒá za nowy.
***
W obiekcie `'df_sec'` stw√≥rz nowƒÖ kolumnƒô `'is_new'`. Warto≈õƒá powinna wynosiƒá `True` dla wszystkich samochod√≥w wyprodukowanych po 2016 i z przebiegiem mniejszym ni≈º 100 000 km (oba warunki spe≈Çnione jednocze≈õnie). W pozosta≈Çych przypadkach warto≈õƒá powinna wynosiƒá `'False'`.

In [62]:
df_sec['is_new'] = df['year_produced'].apply(lambda x: True if x > 2016 else False)

#### Policz ≈õredniƒÖ liczbƒô przebytych kilometr√≥w na rok.
***
W obiekcie `'df_sec'` stw√≥rz nowƒÖ kolumnƒô `'km_per_year'`. Warto≈õƒá powinna wynosiƒá liczbƒô przebytych kilometr√≥w podzielonƒÖ na lata u≈ºytkowania (zak≈Çadamy, ≈ºe dane pochodzƒÖ z 2019 roku).

In [63]:
df_sec.columns

Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'price_usd', 'is_exchangeable', 'location_region',
       'number_of_photos', 'up_counter', 'feature_0', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'duration_listed', 'km_per_year',
       'odometer_value_norm_dist_norm', 'year_produced_squared_1',
       'year_produced_squared_2', 'is_new'],
      dtype='object')

In [64]:
#df_sec['km_per_year'] = df_sec.apply(lambda x: x['odometer_value']/(2019 - x['year_produced']))
df_sec = df_sec.assign(km_per_year = lambda x: (x['odometer_value']/(2019 - x['year_produced'])))

#### Napisz funkcjƒô, kt√≥ra liczy przebyte kilometry w ciƒÖgu roku.
***
Nasza funkcja jako argumenty bƒôdzie przyjmowaƒá obiekt Dataframe oraz rok, z kt√≥rego pochodzƒÖ dane.
Funkcja bƒôdzie zwracaƒá obiekt typu Dataframe, kt√≥ry w kolumnie `'kpy'` ma policzonƒÖ tƒô warto≈õƒá.

In [65]:
def calculate_kpy(df, year):
    df = df.assign(kpy = lambda x: (x['odometer_value']/(year - x['year_produced'])))
    return df

#### Jeszcze raz policz ≈õredniƒÖ liczbƒô przebytych kilometr√≥w na rok.
***
Na obiekcie `'df_sec'` u≈ºyj napisanej powy≈ºej funkcji (zak≈Çadamy, ≈ºe dane pochodzƒÖ z 2019 roku).

In [66]:
df_sec = calculate_kpy(df_sec, 2019)

#### Ustandaryzuj dane.
***
W obiekcie `'df_sec'` stw√≥rz nowe kolumny `'odometer_value_min_max_norm'` i `'odometer_value_norm_dist_norm'` w kt√≥rych ustandaryzowana (znormalizowana) warto≈õƒá z kolumny `'odometer_value'`.

Zr√≥b to na dwa sposoby:
- standaryzacja z u≈ºyciem warto≈õci minimalnych i maksymalnych
- standaryzacja z u≈ºyciem warto≈õci ≈õredniej i odchylenia standardowego

In [67]:
mean_duration = df_sec['odometer_value'].mean()
std_duration = df_sec['odometer_value'].std()
df_sec['odometer_value_norm_dist_norm'] = (df_sec['odometer_value'] - mean_duration) / std_duration

In [68]:
min_year = df_sec['odometer_value'].min()
max_year = df_sec['odometer_value'].max()
df_sec['odometer_value_min_max_norm'] = (df_sec['odometer_value'] - min_year) / (max_year - min_year)

#### Zmie≈Ñ wszystkie dane w kolumnie na ma≈Çe litery.
***
W obiekcie `'df_sec'` stw√≥rz nowƒÖ kolumnƒô `'model_name_lower'`, kt√≥ra bƒôdzie zawieraƒá warto≈õci z kolumny `'model_name'`, ale ze wszystkimi wielkimi literami zmienionymi na ma≈Çe.

In [69]:
df_sec['model_name_lower'] = df_sec['model_name'].str.lower()

#### Zmie≈Ñ nazwy kolumn.
***
W obiekcie `'df_sec'` zmie≈Ñ nazwy kolumn `'manufacturer_name'` oraz `'model_name'` na odpowiednio `'Manufacturer_Name'` i `'Model_Name'`.

In [70]:
changed_names_dict = {'manufacturer_name':'Manufacturer_Name', 'model_name':'Model_Name'}

In [71]:
df_sec = df_sec.rename(columns = changed_names_dict)

#### Policz ≈õredniƒÖ warto≈õƒá odczytu z licznika w zale≈ºno≈õci od marki i modelu samochodu.
***
Pogrupuj dane po kolumnach `'Manufacturer_Name'` oraz `'Model_Name'` i policz dla nich ≈õredniƒÖ z kolumny `'odometer_value'`.

In [72]:
# Grupowanie danych wed≈Çug kolumny 'manufacturer_name' i 'model_name'.
car_group = df_sec.groupby(['Manufacturer_Name','Model_Name'])

# Obliczanie sumy sprzeda≈ºy dla ka≈ºdej grupy
mean_odometer_value = car_group['odometer_value'].mean()

print(mean_odometer_value)

Manufacturer_Name  Model_Name
Acura              CL            220000.000000
                   ILX            78333.333333
                   Integra       218871.000000
                   MDX           199561.380952
                   RDX           148056.250000
                                     ...
–£–ê–ó                451           111660.500000
                   452           231586.750000
                   469           133524.882353
                   Hunter         86666.600000
                   Patriot       104476.533333
Name: odometer_value, Length: 1157, dtype: float64

#### Policz ≈õredniƒÖ warto≈õƒá pojemno≈õci silnika w zale≈ºno≈õci od typu skrzyni bieg√≥w i liczbƒô wystƒÖpie≈Ñ danych typ√≥w skrzyni bieg√≥w.
***
Pogrupuj dane po kolumnie `'transmission'` i policz dla nich ≈õredniƒÖ z kolumny `'engine_capacity'` oraz policz liczbƒô obserwacji w ka≈ºdej grupie.

In [79]:
car_group = df.groupby(['transmission']).agg({'engine_capacity': 'mean', 'transmission': 'count'})

In [80]:
car_group

              engine_capacity  transmission
transmission
automatic            2.460844         12898
mechanical           1.851188         25633